{% extends "base.html" %}
{% block title %}Machine Learning and Corrosion Journal{% endblock title %}
{% block body %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded" style="background-image: url('/static/img/home/home3.png'); background-size: cover; background-position: center;">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic text-white">Publication of Machine Learning Approach to Corrosion</h1>
        <p class="lead my-3">Publication of Machine Learning Approach to Corrosion in Materials and Informatics Research Laboratory, we are conducting various anti-corrosion material research supported by machine learning technology.</p>
      </div>
    </div>
    <div class="row mb-2">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Machine Learning For Corrosion Publication
        </h3>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Nature | Npj Material Degradation</strong>
            <h3 class="mb-0" >A machine learning approach for corrosion small datasets</h3>
            <div class="mb-1 text-muted">March 2023</div>
            <p class="card-text mb-auto">Totok Sutojo, Supriadi Rustad, Muhamad Akrom,Abdul Syukur, Guruh Fajar Shidik, Hermawan Kresno Dipojono</p>
            <a href="{% url 'view_pdf' 'paktotok1' %} " target="_blank" class="stretched-link">Full Read</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/img/jurnal/paktotok.png" class="bd-placeholder-img" width="250" height="290" alt="Thumbnail">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Elisevier | Result In Chemistry</strong>
            <h3 class="mb-0" >Machine Learning Investigation To Predict Corrosion Inhibition ... </h3>
            <div class="mb-1 text-muted">December 2023</div>
            <p class="card-text mb-auto">Muhamad Akrom, Supriadi Rustad, Hermawan Kresno Dipojono</p>
            <p class="card-text mb-auto">&ensp;</p>
            <a href="{% url 'view_pdf' 'pakakrom1' %}" target="_blank" class="stretched-link">Full Read</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/img/jurnal/pakakrom1.png" class="bd-placeholder-img" width="250" height="290" alt="Thumbnail">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Jurnal teknologi dan Aplikasi Fisika</strong>
            <h3 class="mb-0" > Investigation Of Natural Extracts As Green Corrosion Inhibitors ...</h3>
            <div class="mb-1 text-muted">December 2023</div>
            <p class="card-text mb-auto">Muhamad Akrom</p>
            <p class="card-text mb-auto">&ensp;</p>
            <p class="card-text mb-auto">&ensp;</p>
            <a href="{% url 'view_pdf' 'pakakrom2' %}" target="_blank" class="stretched-link">Full Read</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/img/jurnal/pakakrom2.png" class="bd-placeholder-img" width="250" height="290" alt="Thumbnail">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Scientific Journal of Informatics</strong>
            <h3 class="mb-0" >Optimization of Polynomial Functions on the NuSVR Algorithm ... </h3>
            <div class="mb-1 text-muted">January 2022</div>
            <p class="card-text mb-auto">Setyo Budi, Muhamad Akrom, Gustina Alfa Trisnapradika, Totok Sutojo, Wahyu Aji Eko Prabowo</p>
            <a href="{% url 'view_pdf' 'pakbudi1' %}" target="_blank" class="stretched-link">Full Read</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/img/jurnal/pakbudi1.png" class="bd-placeholder-img" width="250" height="290" alt="Thumbnail">
          </div>
        </div>
      </div>
    </div>
  
    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="blog-post-title" style="text-align:justify">Comparison of the Best Machine Learning Model to Predict Corrosion Inhibition Capability of Benzimidazole Compounds
            </h2>
          <p class="blog-post-meta " >November 2023 by Sumarjono, C. A. P., Akrom, M., & Trisnapradika, G. A.</p>
          <p style="text-align:justify">This research is an experimental study to investigate corrosion inhibitors by Benzimidazole 
            compounds using a machine learning (ML) approach. Corrosion causes many losses arising from 
            the loss of construction materials, work safety, and environmental pollution due to corrosion 
            products in the form of compounds that pollute the environment. Taking an ML approach is to 
            get the best accuracy model so that it can be used to make relevant and accurate predictions 
            about a material. In this research, we evaluate ML algorithms with linear and non-linear methods 
            using the k-fold cross-validation method to help measure ... <a href="{% url 'view_pdf' 'Cornell' %}" target="_blank" >Read More</a></p>
        <hr>
        <article class="blog-post">
            <h2 class="blog-post-title" style="text-align:justify">DFT and microkinetic investigation of oxygen reduction reaction on corrosion inhibition mechanism of iron surface by Syzygium Aromaticum extract</h2>
            <p class="blog-post-meta">January 2022 by Akrom, M.</a></p>
            <p style="text-align:justify">Corrosion of iron is an important and serious problem in materials. So far, many studies have been carried out to overcome the corrosion of iron. However, first-principle studies at the atomic level of iron corrosion processes based on electrochemical reactions are still very limited. Investigations based on electrochemical oxygen reduction reactions (ORR) are very important, because naturally corrosion is an electrochemical process. In this paper, the corrosion mechanism of the Fe(1 1 0) surface and the mechanism of corrosion inhibition by eugenol based on the electrochemical ORR are investigated using ... <a href="https://www.sciencedirect.com/science/article/abs/pii/S0169433222038478" target="_blank">Read More</a></p></p>
        <hr>
        <article class="blog-post">
          <h2 class="blog-post-title">EXPERIMENTAL INVESTIGATION OF NATURAL PLANT EXTRACTS AS A GREEN CORROSION INHIBITOR IN STEEL</h2>
          <p class="blog-post-meta">December 23, 2020 by Akrom Muhamad</a></p>
          <p>Natural plant extracts show excellent performance in inhibiting steel corrosion. 
            Steel has a relatively weak resistance to corrosion when in a corrosive environment. 
            The use of natural plant extracts as green corrosion inhibitors is able to provide 
            good performance with high inhibition efficiency. Experimental methods such as 
            gravimetric analysis, potentiodynamic polarization...<a href="{% url 'view_pdf' '2022 - Experimental investigation' %}" target="_blank" >Read More</a></p>
        <hr>
        <article class="blog-post">
          <h2 class="blog-post-title">Data-driven investigation to model the corrosion inhibition efficiency of 
            Pyrimidine-Pyrazole hybrid corrosion inhibitors</h2>
          <p class="blog-post-meta">2023 by Akrom, Muhamad; Rustad, Supriadi; Saputro, Adhitya Gandaryus; Dipojono, Hermawan Kresno.</a></p>
          <p>This paper proposes a quantitative structure–property relationship model (QSPR) based on machine learning 
            (ML) for a pyrimidine-pyrazole hybrid as a corrosion inhibitor. Based on the metric values of the coefficient of 
            determination (R2
            ) and root mean square error (RMSE), the extreme gradient boosting (XGBoost) model was 
            found to be the best predictive model for the N-heterocyclic dataset and its respective non-aggregated dataset. 
            When the XGBoost model was applied to three additional pyrimidine-pyrazole hybrid derivatives, this consistency was also seen, and high corrosion inhibition efficiency (CIE) values were obtained ranging from 82.09% to 
            95.26%. According to the CIE trends found from the ML predictions, DFT calculations for these derivatives also 
            reveal a strong and suitable adsorption energy trend ranging from ... <a href="{% url 'view_pdf' '2023 - CTC' %}" target="_blank" >Read More</a> </p>
        <hr>
        <article class="blog-post">
          <h2 class="blog-post-title">QSPR Based Artificial Intelligence in the Study of Corrosion Inhibitors</h2>
          <p class="blog-post-meta">July, 2023 by Sudibyob Muhamad, Wahid Kurniawanc Achmad, Setiyantod Noor Ageng, Herowatie Wise, Pertiwi Ayu, Safitrig Aprilyani Nur, Hidayath Novianto, Al Aziesi Harun</a></p>
          <p>Steel is a material that has low resistance to attack
            corrosion When in a corrosive environment. Organic inhibitors are capable
            inhibits corrosion with high inhibition efficiency. Overview
            comparative importance for the development of inhibitor performance evaluation methods
            presented in this work. We review artificial developments
            machine learning-based intelligence with the QSPR model in the study
            corrosion inhibition. This paper explains how the method
            data-driven machine learning can produce models that
            linking molecular properties-activity to corrosion inhibition
            by natural ingredient-based inhibitors (green inhibitors)...<a href="{% url 'view_pdf' '2023 - Jommit' %}" target="_blank" >Read More</a></p>
        <hr>
        <article class="blog-post">
          <h2 class="blog-post-title">Investigation of Best QSPR-Based Machine
            Learning Model to Predict Corrosion Inhibition
            Performance of Pyridine-Quinoline Compounds</h2>
          <p class="blog-post-meta">2023 by AKrom Muhamad, Sutojo Totok, Pertiwi Ayu, Rustad Supriadi, Dipojono Hermawan Kresno</a></p>
          <p>dsn.dinus.ac.id 
            Abstract. Corrosion is a major concern for the industrial and academic sectors because it causes 
            significant losses in many fields. Currently, there is a great deal of interest in the topic of material 
            damage control using organic chemicals. Pyridine and quinoline are potential corrosion 
            inhibitors because they are non-toxic, inexpensive, and efficient in various corrosive conditions. 
            Experimental  studies  in  searching for  candidate  corrosion  inhibitor  candidates require  a  lot of 
            time, cost, and labor intensive. Using a machine learning (ML) strategy based on a quantitative 
            structure-property relationship (QSPR) model, we evaluate gradient boosting regressor (GBR), 
            support vector regression (SVR), and k-nearest neighbor (KNN) algorithms as predictive models 
            to  investigate  corrosion  inhibition  efficiency  (CIE)  of  pyridine-quinoline  compounds  in  this 
            study. We found that the GBR model, when compared with the SVR and KNN models as well 
            as models from the literature for the pyridine-quinoline compound dataset, has the best predictive 
            performance based on the metric coefficient of determination (R2) and root mean square ... <a href="{% url 'view_pdf' '2023 - JPCS' %}" target="_blank" >Read More</a></p>
        <hr>
        <article class="blog-post">
          <h2 class="blog-post-title">A combination of machine learning model and density functional theory 
            method to predict corrosion inhibition performance of new diazine 
            derivative compounds</h2>
          <p class="blog-post-meta">June, 2023 by Akrom Muhamad, Rustad Supriadi, Saputro Adhitya Gandaryus, Ramelan Aditianto, Fathurrahman Fadjar, Dipojono Hermawan Kresno</a></p>
          <p>This study proposes a novel approach that combines machine learning (ML) and density functional theory (DFT) 
            methods to construct a quantitative structure-properties relationship (QSPR) model for diazine derivatives as 
            anti-corrosion inhibitors. A dataset is constructed by combining three existing diazine isomer datasets to 
            represent diazine compounds. Thirty-two different ML algorithms were implemented on the dataset, and the 
            gradient boosting regressor (GBR) model was identified as the best predictive model for diazine and each isomer 
            dataset based on the coefficient of determination (R2
            ) and root mean square error (RMSE) metric values. This 
            consistency was also observed when the GBR model was implemented on four other diazine derivatives, resulting 
            in high corrosion inhibition efficiency (CIE) values ranging from 85.02 % to 94.99 %. The DFT calculations for 
            these derivatives also showed strong adsorption energies ranging from − 4.41 to − 6.09 eV... <a href="{% url 'view_pdf' '2023 - MTC' %}" target="_blank" >Read More</a></p>
        <hr>
        <article class="blog-post">
          <h2 class="blog-post-title">Implementation of Polynomial Functions in the Gradient Boosting Algorithm
            Regressor: Regression Study on Expired Medicines Dataset as
            Anticorrosion Material</h2>
          <p class="blog-post-meta">June, 2023 by Putranto Nicholaus Verdhy, Akrom Muhamad, Trinapradika Gustina Alfa</a></p>
          <p>Corrosion is an electrochemical process between the metal 
            surface  and  a  corrosive  environment  that  can  lead  to  significant 
            losses  in  various  industries,  especially  in  the  oil  and  gas  sector. 
            Experimental studies are conducted to evaluate the performance 
            of corrosion inhibitors and available resources. In this research, a 
            machine  learning  (ML)  approach  is  employed  to  assess  the 
            effectiveness of expired drug compounds as corrosion inhibitors. 
            The primary challenge in machine learning is obtaining a highly 
            accurate  model  to  ensure  that  predictions  are  relevant  to  the 
            properties  of  the  tested  materials.  Therefore,  the  polynomial 
            function is tested in the gradient-boosting regressor (GBR) 
            algorithm to  enhance the  accuracy  of  the developed  ML  model. 
            The  results  indicate  that  the  implementation  of  the  polynomial 
            function in  the  GBR  algorithm can  improve  the accuracy  of  the 
            prediction model based on R2 and RMSE metrics... <a href="{% url 'view_pdf' 'Nicholaus' %}" target="_blank" >Read More</a></p>
        <hr>

      </div>  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0" style="text-align:justify">Corrosion is inevitable, causing damage to industrial equipment and resulting in significant losses. The Materials and Informatics Research Lab offers innovative publications that address the challenges of corrosion.</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Expert Lecture</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="https://scholar.google.co.id/citations?user=nXRR_yUAAAAJ&hl=en">Prof. Dr. Supriyadi Rustad, M.Si</a></li>
              <li><a href="https://scholar.google.co.id/citations?user=HqilwgYAAAAJ&hl=id">Dr. Muhamad Akrom, M.Si</a></li>
              <li><a href="https://scholar.google.com/citations?user=bGKT3lQAAAAJ&hl=id">Gustina Alfa Trisnapradika, M.Kom</a></li>
              <li><a href="https://scholar.google.co.id/citations?user=NPazNLgAAAAJ&hl=id">Dr. T. Sutojo</a></li>
              <li><a href="https://scholar.google.co.id/citations?user=rbACYVYAAAAJ&hl=id">Setyo Budi, M.Kom</a></li>
              <li><a href="https://scholar.google.com/citations?user=S6Wi2gkAAAAJ&hl=id">Harun Al Azies, S.Stat, M.Stat</a></li>
              <li><a href="https://fti.itb.ac.id/staff-dosen-tetap/hermawan-kresno-dipojono-prof-ir-msee-phd/">Prof. Ir. HERMAWAN KRESNO DIPOJONO, MSEE, PH.D.</a></li>
            </ol>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Lab students</h4>
            <ol class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/mazcho/">Nicholaus Verdhy Putranto</a></li>
              <li><a href="https://www.linkedin.com/in/cornellius-adryan-putra-sumarjono-3862801a1/">Cornellius Adryan putra Sumarjono</a></li>
              <li><a href="#">F. Muhamad Haikal</a></li>
              <li><a href="#">Vicenzo Adi .P</a></li>
              <li><a href="https://www.linkedin.com/in/nibras-ardyansyah/">Nibras Bahy Ardyansah</a></li>
              <li><a href="https://www.linkedin.com/in/dzakiasari/">Dzaki Asari Surya Putra</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  
  </main>
{% endblock body %}